@page "/clientes/novo"
@page "/clientes/editar/{Id:int}"
@using Barbearia.Blazor.Models
@using Barbearia.Blazor.Services
@inject ClientesApiService _service
@inject NavigationManager _navigation

<h3>@titulo</h3>

<div class="card">
    <div class="card-body">
        <EditForm Model="@cliente" OnValidSubmit="HandleValidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label class="form-label">Nome:</label>
                <InputText class="form-control" @bind-Value="cliente.Nome" />
            </div>

            <div class="mb-3">
                <label class="form-label">Telefone:</label>
                <InputText class="form-control" @bind-Value="cliente.Telefone" />
            </div>

            <div class="mb-3">
                <label class="form-label">Email (Opcional):</label>
                <InputText class="form-control" @bind-Value="cliente.Email" />
            </div>

            <button type="submit" class="btn btn-primary">Salvar Cliente</button>
            <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>

        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int? Id { get; set; }

    private Cliente cliente = new Cliente();
    private string titulo = "Novo Cliente";

    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
        {
            titulo = "Editar Cliente";
            var clienteEncontrado = await _service.GetClienteByIdAsync(Id.Value);
            if (clienteEncontrado != null)
            {
                cliente = clienteEncontrado;
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        if (Id is null)
        {
            await _service.PostClienteAsync(cliente);
        }
        else
        {
            await _service.UpdateClienteAsync(cliente);
        }

        _navigation.NavigateTo("/clientes");
    }

    private void Cancelar()
    {
        _navigation.NavigateTo("/clientes");
    }
}